.starRating:not(old){
  display        : inline-block;
  /*width          : 7.5em;*/
  height         : 4em;
  overflow       : hidden;
  vertical-align : bottom;
  margin: 15px;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 4em;
  height          : 4em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

#btn-comment {
    text-align: center;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: gray;
}

#btn-comment:hover {
    cursor: pointer;
}